<div class="widget">
<div id="socials">
<ul>
<li>
	<a href="https://github.com/cozymaus" target="_blank" title="Github"><i class="fab fa-fw fa-github"></i></a>
</li>
<li>
	<a href="#" target="_blank" title="Twitter"><i class="fab fa-fw fa-twitter"></i></a>
</li>
<li>
	<a href="http://yt.cozymaus.com" target="_blank" title="YouTube"><i class="fab fa-fw fa-youtube"></i></a>
</li>
<li>
	<a href="https://linkedin.com/in/cozymaus" title="LinkedIn" target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i></a>
</li>
<li>
	<a href="https://cozymaus.com" target="_blank" title="All Profiles"><i class="fas fa-fw fa-link"></i></a>
</li>
<li>
	<a href="mailto:liz@cozymaus.com" title="liz@cozymaus.com" target="_blank"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i></a>
</li>
</ul>
</div>
</div>
